# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vs/

#System Files
.DS_Store
Thumbs.db
